.ant-tabs-nav .ant-tabs-tab-active {
  color: #f43517;
}
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #f8f8ff;
}

div.ant-tabs-tab {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  cursor: pointer;
  transition: 0.5s transform;
}

.left {
  -moz-animation: left 0.5s infinite linear;
  -o-animation: left 0.5s infinite linear;
  -webkit-animation: left 0.5s infinite linear;
  animation: left 0.5s infinite linear;
}

.right {
  -moz-animation: right 0.5s infinite linear;
  -o-animation: right 0.5s infinite linear;
  -webkit-animation: right 0.5s infinite linear;
  animation: right 0.5s infinite linear;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes left {
  0% {
    right: 0;
  }
  50% {
    right: -0.2em;
  }
  70% {
    right: -0.3em;
  }
  100% {
    right: 0;
  }
}
@-o-keyframes left {
  0% {
    right: 0;
  }
  50% {
    right: -0.2em;
  }
  70% {
    right: -0.3em;
  }
  100% {
    right: 0;
  }
}
@-ms-keyframes left {
  0% {
    right: 0;
  }
  50% {
    right: -0.2em;
  }
  70% {
    right: -0.3em;
  }
  100% {
    right: 0;
  }
}
@keyframes left {
  0% {
    right: 0;
  }
  50% {
    right: -0.2em;
  }
  70% {
    right: -0.3em;
  }
  100% {
    right: 0;
  }
}
@-moz-keyframes right {
  0% {
    left: 0;
  }
  50% {
    left: -0.2em;
  }
  70% {
    left: -0.3em;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes right {
  0% {
    left: 0;
  }
  50% {
    left: -0.2em;
  }
  70% {
    left: -0.3em;
  }
  100% {
    left: 0;
  }
}
@-ms-keyframes right {
  0% {
    left: 0;
  }
  50% {
    left: -0.2em;
  }
  70% {
    left: -0.3em;
  }
  100% {
    left: 0;
  }
}
@keyframes right {
  0% {
    left: 0;
  }
  50% {
    left: -0.2em;
  }
  70% {
    left: -0.3em;
  }
  100% {
    left: 0;
  }
}

div.ant-tabs-tab {
  font-size: calc(0.5vmax + 0.5rem);
}

div.ant-tabs-tab-active.ant-tabs-tab {
  font-weight: 900;
}

div.flippy-card.flippy-back {
  background-color: #2a2c51;
  min-height: 100%;
  height: auto;
}

a {
  color: inherit;
}

body {
  background-color: #585c97;
}
